@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  scrollbar-color: unset !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #151791;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #020044;
}
